<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="editItem()">{{editText}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-gray">
  <div padding>
    <button ion-button block (click)="draw()">抽签</button>
  </div>
  <ion-list>
    <ion-item-group reorder={{isEdit}} (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding *ngFor="let item of items">
        <button ion-item>
          {{ item }}
        </button>
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">删除</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-fab *ngIf="!isEdit" bottom right>
    <button ion-fab color="secondary" (click)="addItem()">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>
</ion-content>